<% content_for :header_title do %>Casekårtege<% end %>

<div class="case-container">

  <div class="row title-row first-row">
    <h3 class="title-attached-to-side top-title">
      I år introduceras något helt nytt och speciellt som vi valt att kalla casebygge.
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Casebyggen är kort och gott kårtegebidrag sponsrade av utvalda företag inom Linköping. Man får då i uppdrag av ett företag att bygga deras kårtegevagn åt dem likt ett projektuppdrag i verkliga livet. Så vill du vara med och bygga en kårtegevagn men saknar ett lag? eller saknar ni en klar ide? eller kanske helt enkelt saknar pengar? då kan detta vara något för dig/er.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      WOW så vad innebär detta?
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Detta betyder att företagen står för kårtegeavgiften och står som beställare till kårtegevagnen, vilket gör det gratis för de som deltar att vara med och bygga.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Vem bestämmer hur vagnen ska bli?
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Eftersom det är företagen som är beställare så har de rätt till veto, men vanligen så väljer de oftast att inkludera byggarna i planerandet. De kan t.ex. bestämma vissa kriterier som vagnen måste uppfylla men att det där efter är upp till byggarna att bestämma allt övrigt. Ett exempel på detta kan vara att ett företaget vill att vagnen ska representera deras värdeord visuellt, sedan är det upp till byggarna att bestämma hur de vill realisera detta.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Vilka kan söka?
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Alla studenter i linköping kan söka och det spelar inte någon som helst roll vilken utbildningsbakgrund man har. Vidare så spelar det heller ingen roll om man är ensam eller i grupp. Även föreningar är välkomna att söka.
    </p>
  </div>


  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Hur många deltagare kan vara med på detta?
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Beroende på caseuppdrag så ser vi att det är mellan fyra till tio personer per kårtegebygge. Beroende på situation så kan antingen en hel grupp bli tilldelad ett caseuppdraget eller så blir det en sammansatt grupp av de som söker.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Vad är skillnaden med att jobba med caseuppdrag jämfört med vanligt bygge?
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Med casebyggen kommer en del förmåner som ex längre byggtid, möjlighet till utökade resurser (eftersom detta då sponsras av företagen), möjlig tillgång till bättre verktyg och verkstadsmaskiner samt värdefull kontakt med uppdragsgivaren. Men med detta kommer även en del ansvar. Eftersom man jobbar på uppdrag av ett företag så måste man uppträda professionellt vilket betyder att man bl.a. ej får vara berusad under representation av bygget.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Vilka mer förmåner ingår?
    </h3>
  </div>

  <div class="container">
    <p class="subtitle-text">
      Man får självklart delta på alla de aktiviteter som anordnas för övriga kårtegebyggare. Detta innebär att man kan hänga på byggområdet som är som ett minifestivalområde med både bar och matservering. Man får även vara med på byggstartsfesten samt får tre-dagarspass till SOF-festivalen.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Hur många personer kan det vara per bidrag?
    </h3>
  </div>

  <div class="container cortege-container">
    <p class="subtitle-text">
      Antalet personer per bidrag kan variera. Men samma regler gäller som för övriga kårtegebidrag: max 25 deltagare för makrobyggen och max 10 för mikrobyggen.
    </p>
  </div>

  <div class="row title-row">
    <h3 class="title-attached-to-side">
      Vad blir nästa steg om man blir antagen?
    </h3>
  </div>

  <div class="container cortege-container">
    <p class="subtitle-text">
      När en grupp med byggare blivit utvald och alla i gruppen notifierade kommer ett möte att bokas mellan gruppen och uppdragsgivaren. Tanken är att ha en kontinuerlig dialog mellan uppdragsgivaren och byggruppen fram tills dess att båda är nöjda med planeringen av bidraget och alla detaljer kring det. Sedan är det fritt fram att börja skapa sitt bygge!
    </p>
  </div>

  <div class="margin-bottom-40"></div>

  <div class="row center no-bottom-margin">
    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Uppdragsgivare - Ebbepark</h3>
        <span>Uppdrag: Ebbepark är en ny stadsdel som ska byggas upp vid Valla och de söker nu studenter som ska bygga en kårtegevagn som ska representera denna nya stadsdel och deras vision.
          <br>
          <a href="http://www.ebbepark.se/">http://www.ebbepark.se/</a>
        </span>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Uppdragsgivare - FKP Scorpio</h3>
        <span>Organisationen bakom Bråvalla! Var med och designa en kårtegevagn som visar det bästa från sommarens stora festival Bråvalla!
          <br>
          <a href="http://www.fkpscorpio.se/om-fkp-scorpio/">http://www.fkpscorpio.se/om-fkp-scorpio/</a>
        </span>
      </div>
    </div>
  </div>
  <div class="margin-bottom-40"></div>



</div>