<% content_for :header_title do %>Casekårtege<% end %>

<div class="case-container">

  <div class="row first-row">
    <h3 class="title-attached-to-side">
      I år introduceras något helt nytt och speciellt som vi valt att kalla casebygge.
    </h3>
  </div>

  <div class="container">
    <p>
      Casebyggen är kort och gott kårtegebidrag sponsrade av utvalda företag inom Linköping. Man får då i uppdrag av ett företag att bygga deras kårtegevagn åt dem likt ett projektuppdrag i verkliga livet. Så vill du vara med och bygga en kårtegevagn men saknar ett lag? eller saknar ni en klar ide? eller kanske helt enkelt saknar pengar? då kan detta vara något för dig/er.
    </p>
  </div>

  <div class="row">
    <h3 class="title-attached-to-side">
      WOW så vad innebär detta?
    </h3>
  </div>

  <div class="container">
    <p>
      Detta betyder att företagen står för kårtegeavgiften och står som beställare till kårtegevagnen, vilket gör det gratis för de som deltar att vara med och bygga.
    </p>
  </div>

  <div class="row">
    <h3 class="title-attached-to-side">
      Vem bestämmer hur vagnen ska bli?
    </h3>
  </div>

  <div class="container">
    <p>
      Eftersom det är företagen som är beställare så har de rätt till veto, men vanligen så väljer de oftast att inkludera byggarna i planerandet. De kan t.ex. bestämma vissa kriterier som vagnen måste uppfylla men att det där efter är upp till byggarna att bestämma allt övrigt. Ett exempel på detta kan vara att ett företaget vill att vagnen ska representera deras värdeord visuellt, sedan är det upp till byggarna att bestämma hur de vill realisera detta.
    </p>
  </div>

  <div class="row">
    <h3 class="title-attached-to-side">
      Vilka kan söka?
    </h3>
  </div>

  <div class="container">
    <p>
      Alla studenter i linköping kan söka och det spelar inte någon som helst roll vilken utbildningsbakgrund man har. Vidare så spelar det heller ingen roll om man är ensam eller i grupp.
    </p>
  </div>


  <div class="row">
    <h3 class="title-attached-to-side">
      Hur många deltagare kan vara med på detta?
    </h3>
  </div>

  <div class="container">
    <p>
      Beroende på caseuppdrag så ser vi att det är mellan fyra till tio personer per kårtegebygge. Beroende på situation så kan antingen en hel grupp bli tilldelad ett caseuppdraget eller så blir det en sammansatt grupp av de som söker.
    </p>
  </div>

  <div class="row">
    <h3 class="title-attached-to-side">
      Vad är skillnaden med att jobba med caseuppdrag jämfört med vanligt bygge?
    </h3>
  </div>

  <div class="container">
    <p>
      Med casebyggen kommer en del förmåner som ex längre byggtid, möjlighet till utökade resurser (eftersom detta då sponsras av företagen), möjlig tillgång till bättre verktyg och verkstadsmaskiner samt värdefull kontakt med uppdragsgivaren. Men med detta kommer även en del ansvar. Eftersom man jobbar på uppdrag av ett företag så måste man uppträda professionellt vilket betyder att man bl.a. ej får vara berusad under representation av bygget.
    </p>
  </div>

  <div class="row">
    <h3 class="title-attached-to-side">
      Vilka mer förmåner ingår?
    </h3>
  </div>

  <div class="container">
    <p>
      Man får självklart delta på alla de aktiviteter som anordnas för övriga kårtegebyggare. Detta innebär att man kan hänga på byggområdet som är som ett minifestivalområde med både bar och matservering. Man får även vara med på byggstartsfesten samt får tre-dagarspass till SOF-festivalen.
    </p>
  </div>

  <div class="margin-bottom-40"></div>

</div>