<div id="signup-summary-parent" class="col s12 m6 l5 offset-l1">
  <div id="signup-summary">
    <h4>Sammanst채llning</h4>
    <table>
      <thead>
      <tr>
        <th>Pass</th>
        <th>Po채ng</th>
      </tr>
      </thead>
      <tbody id="pass-list">
        <% if @funkis_application['funkis_shift_applications'].any? %>
          <% @funkis_application['funkis_shift_applications'].each do |s| %>
            <tr>
              <td>
                FUNKIS
                <br/>
                <%= s['funkis_shift']['day'] %>
                <br/>
                <%= s['funkis_shift']['time'] %>
              </td>
              <td><%= s['funkis_shift']['points'] %> po채ng</td>
            </tr>
          <% end %>
          <tr>
            <th>Totalt</th>
            <th><%= @total_points %> po채ng</th>
          </tr>
        <% else %>
          <tr>
            <td>Inga pass valda</td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>