<% content_for :header_title do %>
    Funkisanmälan - Steg 3/3
<% end %>

<div class="container">
  <div class="row">
    <form method="post" class="sof-form">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="row">
        <div class="col s12 m6 l6">
          <h4 class="header">Hej blivande Funkis!</h4>

          <p>
            Vad kul att du hittat dig hit! Till den bästa anmälan på internet, nämligen anmälan till Funkis för SOF17!
          </p>
          <p>
            Här nedan fyller du i lite kontaktuppgifter samt ditt personnummer som vi använder för identifiera vem just du är. Du väljer även storlek på din jobbtröja. Viktigt att välja rätt storlek här. Efter detta är det dags att välja pass. Du kan välja hur många som helst, men det är viktigt att inte ta två som överlappar. Mycket viktigt faktiskt.
          </p>

          <p>
            En till viktig sak är att om du väljer att vara orkestefadder kommer du inte ha tid att arbeta på något mer pass. Så om du nu vill vara orkesterfadder ska du endast anmäla dig till detta.
          </p>

          <p>
            Vi ses på SOF!
          </p>
          
          <br/>

          <% if @is_fadder %>
              <textarea id="funkis-ToA" readonly>
          Funktionärsavtal orkesterfaddrar SOF 2017

Innan du blir funktionär så är det viktigt att du läser igenom villkoren noggrant.

§1. Du fungerar som en guide för din orkester och sköter dina arbetsuppgifter väl.

§2. Som orkesterfadder har du endast tillåtelse att dricka alkohol i sådana mängder att du fortfarande kan sköta dina arbetsuppgifter på ett bra sätt.

§3. Du ska checka in en gång under varje arbetsdag för giltig närvaro. Exakt tid meddelas av funktionärsansvarig Emma Carlsson, tel. 0706418840.

§4. Till giltig frånvaro räknas sjukdom och allvarlig händelse inom familjen och ett intyg krävs i båda fall.

Frånvaro meddelas i god tid till funktionärsansvarig Emma Carlsson, tel. 0706418840.

§5. Blir du sjuk och inte kan arbeta tilldelat arbetspass meddelar du funktionärsansvarig i god tid. För giltig sjukfrånvaro krävs läkarintyg som ska vara funktionärsansvarig tillhanda senast 10 dagar efter arbetspasset.

Alternativt hittar du på egen hand en ersättare till ditt arbetspass.

§6. Din funktionärs-T-shirt ska användas under samtliga arbetspass och endast då.

§7. Vid misskötsel av §1, §2, §3, §4 eller §5 kommer du fråntas ditt festivalband och dina förmåner, samtidigt som SOF kommer kräva en straffavgift på 800 kr.

Jag har tagit del av ovanstående information samt respekterar och arbetar efter de krav som ställs på mig.

Snart är det dags, VI SES PÅ SOF!
            </textarea>
          <% else %>
            <textarea id="funkis-ToA" readonly>
            Funktionärsavtal SOF 2017

Innan du blir funktionär så är det viktigt att du läser igenom villkoren noggrant.

§1. Incheckning sker före påbörjan av varje arbetspass och utcheckning sker vid arbetspassets slut. Ni skall infinna er på plats minst 15 minuter innan passets början för incheckning.

§2. Du sköter dina arbetsuppgifter och arbetar nykter. Som funktionär representerar du SOF och ska därför bemöta allmänheten, festivalens besökare och andra inom SOF-organisationen på ett respektfullt och trevligt vis.

§3. Till giltig frånvaro räknas sjukdom och allvarlig händelse inom familjen och ett intyg krävs i båda fall. Frånvaro rapporteras in i god tid.

Insatsfunktionärer meddelar frånvaro till insatsansvarig, Lina Andersson tel. 0702595891 och övriga funktionärstyper meddelar frånvaro till funktionärsansvarig Emma Carlsson, tel. 0706418840.

§4. Blir du sjuk och inte kan arbeta tilldelat arbetspass meddelar du funktionärsansvarig i god tid. För giltig sjukfrånvaro krävs läkarintyg som ska vara funktionärsansvarig tillhanda senast 10 dagar efter arbetspasset.

Alternativt hittar du på egen hand en ersättare till ditt arbetspass.

§5. Din funktionärs-T-shirt ska användas under samtliga arbetspass och endast då.

§6. SOF förbehåller sig rätten att ändra din arbetsuppgift vid behov.

§7. Vid misskötsel av §1, §2, §3 eller §4 kommer du bli fråntagen dina förmåner, samtidigt som SOF kommer kräva en straffavgift på 800 kr.

Jag har tagit del av ovanstående information samt respekterar och arbetar efter de krav som ställs på mig.

Snart är det dags, VI SES PÅ SOF!
            </textarea>
              <% end %>
          <br/>

          <!-- Agreement checkbox -->
          <div class="row">
            <div class="col s12">
              <input type="checkbox" class="filled-in" id="agreement" name="terms_agreed" required />
              <label for="agreement">Jag har läst och samtycker till ovanstående villkor</label>
            </div>
          </div>
        </div>
        <%= render 'static_summary' %>
      </div>

      <div class="row">
        <div class="col s12">
          <a href="<%= funkis_application_shifts_url %>" class="waves-effect waves-light btn red lighten-2" type="submit">Tillbaka</a>
          <button class="waves-effect waves-light btn" type="submit">Anmäl dig som funkis</button>
        </div>
      </div>
    </form>
  </div>
</div>
