<% content_for :header_title do %>
    Förmåner
<% end %>

<div class="hero-container">
  <div class="hero hero-cortege center">
  </div>
</div>

<div class="container cortege-container">
  <div class="hero-description-container">
    <div class="row center margin-bottom-40">
      <p>
        Lorum ipsum, här kan det finnas en jävla massa text om man vill.
      </p>
      <hr>
    </div>
  </div>
</div>