<% content_for :header_title do %>
    Att vara Funkis
<% end %>

<div class="hero-container">
  <div class="hero hero-funkis center">
  </div>
</div>

<div class="funkis-container">
  <div class="container cortege-container">
    <div class="hero-description-container">
      <div class="row center margin-bottom-40">
        <p>
          För att Studentorkesterfestivalen 2017 ska gå av stapeln behövs det jobbare - funkisar - som hjälper till att genomföra festivalen! Om du vill söka funkis, finns det massor av olika arbetsuppgifter och pass att välja mellan!
        </p>
        <hr>
      </div>
    </div>

    <div class="row center">
      <div class="col s12 m6 l6">
        <div class="text-with-icon-column">
          <h3 class="title-with-background">
            Förmåner
          </h3>
          <span>
            Som funkis får du finfina förmåner, bland annat en storslagen tackkravall och rabatterad biljett(er)*! Inte bara det, så får du en förhoppningsvis även en rolig upplevelse.
          </span>
          <span>
            Jobbpassen följer en så kallad poängtrappa; ju fler pass du väljer, desto fler poäng och därmed ännu flera förmåner! Hur bra låter inte det? För att illustrera vår poäng hänvisar vi till figuren nedan.
          </span>
          <span>
            Utöver detta kommer även de som får ihop till 100 eller mer poäng förköp till UK! Det finns ett begränsat antal, så det är först till kvarn som gäller!
          </span>
          <span>
            Är du sugen på att jobba ännu fler pass än vad som ger 150 poäng? Mejla personal@sof17.se för att veta mer!
          </span>
          <span>
            *OBS! Rabatten kan endast användas på festivalbiljetter och kan inte lösas ut i form av kontanter.
          </span>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="benefits-staircase">
          <%= image_tag("https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/funkis/funkis_trappa.svg") %>
        </div>
      </div>
    </div>
  </div>
</div>