<% content_for :header_title do %>Kårtege<% end %>

<div class="hero-container">
  <div class="hero hero-cortege center">
  </div>
</div>

<div class="container cortege-container">
  <div class="hero-description-container">
    <div class="row center margin-bottom-40">
      <p>
        <span>SNART RULLAR <span class="enlarge">KÅRTEGEN!</span></span>
        <br>
        SOF är tillbaka och det med den ståtliga, praktfulla och helgalna KÅRTEGEN som rular genom Linköpings gator
        den 13:e Maj.
        <br>
        Sista datum för anmälan är 26 februari.
      </p>
      <hr>
    </div>
  </div>

  <div class="margin-bottom-40">
    <p>
      Kårtegen är en parad med olika typer av spexiga, rullande byggen varvat med spelande och stojiga orkestrar. Den startar inne i Linköping city och rullar sedan vidare ut längs Malmslättsvägen ända fram till Gamla Linköping. Tusentals människor från trakten lockas ut från sina kyffen för att bevittna denna folkfest!
      <br>
      Det är nu hög tid att börja fundera över detta års Kårtegebidrag! Vem som helst får anmäla sig, så dra ihop ett gäng - student som männ’ska - och bli en del av ett storartat kalas!
    </p>
    <p>
      Temat för Kårtegen är i år <span class="bold">Sverige genom tiderna</span>. Iscensätt en historisk händelse som Foppas mål i VM -94 eller Stockholms blodbad, återskapa en hederlig svensk midsommarafton eller gestalta en Astrid Lindgren-berättelse. Sätt ert bidrag i rullning och visa alla er enorma uppfinningsrikedom!
    </p>
    <p>
      Kårtegetåget kommer att bli det mest spektakulära du någonsin sett rulla på Linköpings gator! Som deltagare har Ni chans att vinna priser inom kategorierna mest tema-enlighet, bästa spex, bästa teknik och även det prestigefyllda priset “Bästa bidrag” står på spel, så sikta högt!
    </p>
    <p>
      <span class="bold">Anmälan ska innehålla</span> en beskrivning av ert bidrag där ni förklarar hur ert bygge kommer se ut, hur det kopplar till temat och vilken typ av bygge det är (se nedan). Något att tänka på är att Kårtegen kommer vara full av högljudda orkestrar, så bidrag helt beroende av musik är inte riktigt att rekommendera (även om vi i SOF älskar liv och energi!).
      <br>
      <span class="bold">Byggdagarna</span> för kårtegen sträcker sig från den 5 maj till och med den 12 maj (Casebidragens byggdagar börjar 25 april).
      <br>
      <span class="bold">Materiel</span> tillhandahålls av Kårtegeansvarig och ingår i priset. Önskas något utöver det kan kårtegeansvarig kontaktas för frågor på <a href="mailto:kartege-logistik@sof17.se" target="_blank">kartege-logistik@sof17.se</a>, han har alla svar ni behöver.
    </p>
  </div>

  <div class="row center no-bottom-margin">
    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Casebygge</h3>
        <span>Något alldeles nytt för i år. Kort och gott är det kårtegebidrag sponsrade av utvalda företag inom Linköping. Man får då, i uppdrag av ett företag, bygga deras kårtegevagn åt dem likt ett verkligt projektuppdrag. Så vill du vara med och bygga en kårtegevagn men saknar ett lag, eller en klar ide, kanske pengar, eller helt enkelt vill visa företagen vad man går för då kan detta vara något för dig/er. Men kom ihåg att det är väldigt begränsade platser!</span>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Mikrobygge</h3>
        <span>Ett lite mindre kårtegebidrag på cirka 2.5x2m. Ni ansvarar själva för ett fordon som drar bidraget framåt. Max antal personer till ett mikrobygge är 10 personer per bidrag. Ett mikrobygge kostar 3000 kr per lag, och då ingår material.</span>
      </div>
    </div>
  </div>

  <div class="row center margin-bottom-40">
    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Fribygge</h3>
        <span>Ett ekipage som tar sig fram för egen maskin. Här finns det utrymme för kreativitet, eftersom ni själva kan knåpa ihop ert drömfordon. Det skulle exempelvis kunna handla om att modifiera en bil till oigenkännlighet, eller varför inte bygga ett bidrag ovanpå en massa gamla cyklar? Kom med en idé så tillgodoser vi det ni behöver! Max antal personer till ett fribygge är 10 personer per bidrag. Ett fribygge kostar 3500 kr per lag, och då ingår det material.</span>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Makrobygge</h3>
        <span>Ett större bidrag på ca 5.5x3m som byggs bak på en lastbil. SOF fixar lastbilen, så det enda ni behöver fokusera på är själva bygget. Max antal personer till ett makrobygge är 25 personer per bidrag. Ett makrobygge kostar 4500 kr per lag, och då ingår lastbil och material.</span>
      </div>
    </div>
  </div>
</div>




<div class="container cortege-container">
  <hr>

  <div class="price-container center">
    <h3>Sammanfattning av priser:</h3>
    <ul>
      <li>Case-bidrag - Gratis!</li>
      <li>Mikrobygge - 3000kr</li>
      <li>Makrobygge - 4500kr</li>
      <li>Fribygge - 3500kr</li>
    </ul>
  </div>

</div>

