<% content_for :header_title do %>Kårtegens Väg<% end %>

<div class="container cortege-map-container">
  <div class="row margin-top-20">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <p>
        Årets kårtege startar <b>kl 12</b> vid korsningen Snickaregata/ Storgatan för att sedan rulla upp över Stora torget och ut längs Malmslättsvägen ner mot Vallarondellen. Kårtegen i år består av 38 fabulösa bidrag varvat med 17 glada orkestrar. På gatorna kommer allt från Astrid Lindgrens värld till Vasaskeppet att rulla, vilket är ett resultat av årets temat, som är, ”Sverige genom tiderna”. Då det är mycket folk som vill beskåda detta rullande underverk så är det rekommenderat att vara där tidigt för att få en bra plats.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="img-holder">
        <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/cortege/cortege_route.png">
      </div>
    </div>
  </div>
</div>