<% content_for :header_title do %><%= @cortege['name'] %><% end %>

<div class="container">
  <h4>Intresseanm채lan</h4>
  <p><b>Status: </b><%= readable_status %></p>
  <p><b>Godk채nd: </b><%= @cortege['approved'] ? 'Ja' : 'Nej' %></p>
  <h4>Uppdatera k책rtegeanm채lan</h4>
  <%= render 'form', action: 'Uppdatera' %>
</div>
