<% content_for :header_title do %>Årets öl<% end %>

<div class="hero-container">
  <div class="hero hero-festival-beer center">
  </div>
</div>

<div class="container beer-container">
  <div class="row center">
    <div class="col s12 m3 l3">
      <div class="text-with-icon-column">
        <img class="beer-bottle" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/festival/beer/modern-symphony.png" />
      </div>
    </div>


    <div class="col s12 m9 l9 margin-top-40">
      <div class="text-with-icon-column">
        <h3 class="title-without-background">Modern Symphony</h3>
        <span>
          Studentorekesterfestivalen tjugohundrasjutton har tillsammans med Aktiebolaget Centralbryggeriet i Linköping
          bryggt en underbar India Pale Ale. En IPA bryggd specielt för att fånga SOF-andan och som garanterat kommer få
          dig att tappa andan.
        </span>
        <br/>
        <span>
          För den intresserade är ölen bryggd med en blandning av Nelson och Mosaichumle vilka ger de tropiska och
          fruktiga tonerna i ölen. Med en alkoholhalt på 5,4% kommer smaken att bäras och göra att beskan upplevs
          mjukare tillsammans med havret och vetet.
        </span>
      </div>
    </div>
  </div>

</div>

