<% content_for :header_title do %>SOF-armbandet<% end %>

<div class="container bracelet-container">
  <div class="row margin-top-20">
    <div class="col s12 m6">
      <div class="promotion-text">
        <div class="header">
          Att ha ett SOF-armband ger dig inte bara inträde till SOF, det ger dig även rätt grymma förmåner hos <a href="http://prisonisland.se/linkoping/" target=" _blank" class="promotion-link">Prison Island</a>. Ta en titt nedan på vad man får!
        </div>

        <ul class="collection promotion-list margin-top-20">
          <li class="collection-item">2 för priset av 1 fram till siste maj mot uppvisande av SOF-armband.</li>
          <li class="collection-item">Presentkort till kortegevinnare för 25 personer á 2 h aktivitet.</li>
          <li class="collection-item">Samt individuella 2 h aktivitet men bara betala för 1 h - kuponger till vinnarna.</li>
        </ul>

        <h5 class="summary-header margin-top-20">Vad är Prison Island?</h5>
        <div class="summary margin-top-20">
          Prison Island är ett helt unikt fängelseäventyr som just nu sprider sig över Sverige och världen. Likt tv-succén "Fångarna på fortet" handlar det om att samarbeta i lag och tillsammans lösa stora som små utmaningar i våra olika fängelseceller. Allt går ut på att samla så många poäng som möjligt innan tiden är slut. Till Prison Island kommer gammal som ung mellan 8 - 88 år. Allt är möjligt, men kom ihåg att laget alltid vinner över jaget!
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sponsorer/updated/prison_island.jpg" class="promotion-img">
    </div>
  </div>
</div>