<% content_for :header_title do %>Colour it<% end %>

<div class="colour-it-video-container">
  <iframe id="colour-it-video" src="https://player.vimeo.com/video/216804254?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="contact-container colour-it-container">
  <div class="hero-description-container">
    <div class="row">
      <div class="col s12">
        <p>
          Torsdagen 11 maj klockan 17.00 till ca 19 kommer vi att samlas på festivalområdet och kasta färgpulver på varandra samtidigt som det fantastiska Y-bandet lirar på scenen. Det blir en färgsprakande fest som du inte vill missa!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <p>Detta är ett samarbete med Color Obstable Rush, så biljetten till Colour It kostar endast 20 kr per person. Du köper din biljett under fliken butik i menyn till vänster. Om det finns det biljetter kvar så kommer vi att sälja dem i en bar på festivalområdet. Colour It kommer äga rum på dagsområdet så du behöver inte ha köpt någon SOF-biljett (men det vill du ju ha gjort såklart). All färg ingår i priset.</p>
      <br>

      <h6>Bra information:</h6>
      <p>
      Färgen går bort i tvättmaskinen, men ta inte favoritkläderna för säkerhets skull.
      Insläppet till Colour It börjar 17.00, kom i tid så blir det smidigt för alla.
      Vill du ha något att dricka till rekordet, så måste du köpa det i baren innan du går in på rekordområdet.
      </p>

      <p>
      Dra med dina kompisar och gör dagen färgsprakande
      Vi ses på LiUs största färgfest!
      </p>
    </div>
  </div>
</div>