<% content_for :header_title do %>
    Mat på området
<% end %>

<div class="container food-flex">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Trucken Streetfood</span>
      <p>
        Den linköpingslokala foodtrucken Trucken Streetfood kommer att sälja mat under hela festivalen.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pizzatältet</span>
      <p>
        I pizzatältet finns nybakad pizza att köpa. Är du inte så hungrig? Var så lugn, här kan du köpa en halv pizza.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Hamburgetrucken</span>
      <p>
        Här kommer det finnas bland annat hamburgare och korv.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Nachos libre</span>
      <p>
        Nachos Libre är en food truck startad av två studenter på linköpings universitet. Här kommer det finnas matiga
        nachostallrikar med vegetariskt alternativ.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">ShinNori</span>
      <p>
        Shinnori är en restaurang i centrala Linköping. Under festivalen kommer de att stå med deras food truck och laga
        mat från det japanska köket.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">ÖlochMat-tältet</span>
      <p>
        I detta tält ansvarar SOF själva för matlagningen. Vi kommer slänga ihop grymma burgare och wraps av Oumph! Detta matställe är helt vegansk.
      </p>
    </div>
  </div>
</div>

