<% content_for :header_title do %>
    Områdeskarta
<% end %>

<div id="top" class="area-map">
  <div class="info-panel hide-on-large-only margin-top-13">
    <div class="row">
      <div class="col s4">
        <a class="btn" href="#bars">Barer</a>
      </div>

      <div class="col s4">
        <a class="btn" href="#food">Mattält</a>
      </div>

      <div class="col s4">
        <a class="btn" href="#scenes">Scener</a>
      </div>
    </div>
  </div>
  <div class="row margin-top-13">
    <div class="col s12 l6">
      <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/festival/map/areamap.svg"/>
    </div>
    <div class="col s12 m6 l3">
      <h3 id="food" class="bold-card-title"><i class="icon-arrow-up2 left"></i> MATTÄLT <a href="#top"><i class="icon-arrow-up2 right"></i></a></h3>
      <div class="card-panel">
        <b><i class="icon-mug"></i> Öltältet</b>
        <p>
          I samband med Annefridbaren kommer du här kunna njuta av goda hamburgare och nachos.
        </p>
        <p class="special-food">
          <u>Detta mattält har alternativ för</u>
          Vegetarianer, glutenintoleranta och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b><i class="icon-fish"></i> Fritösen</b>
        <p>
          Hit ska du gå om du är sugen på friterad mat. Falafel, pommes frites och fish & chips hittar du här.
        </p>
        <p class="special-food">
          <u>Detta mattält har alternativ för</u>
          Vegetarianer, veganer, glutenintoleranta och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b><i class="icon-steak"></i> Vilden</b>
        <p>
          I detta tält kommer det finnas kebab med vilt vildsvinskött. Kom förbi här och testa på hur det smakar.
        </p>
      </div>

      <div class="card-panel">
        <b><i class="icon-hamburger"></i> Grillen</b>
        <p>
          I grilltältet kommer grillarna ryka. Här serveras det nygrillade hamburgare, korv och grillspett.
        </p>
        <p class="special-food">
          <u>Detta mattält har alternativ för</u>
          Glutenintoleranta och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b><i class="icon-plate"></i> Mom's Spaghetti</b>
        <p>
          I pastatältet kommer nylagad pasta finnas för dig som är riktigt hungrig. Krämiga pastarätter kommer mätta dig under festivalen.
        </p>
        <p class="special-food">
          <u>Detta mattält har alternativ för</u>
          Vegetarianer och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b><i class="icon-pizza"></i> Pizzerian</b>
        <p>
          Här kommer du att hitta nybakad pizza ur riktiga pizzaugnar, serverade i pizzakartonger.
        </p>
        <p class="special-food">
          <u>Detta mattält har alternativ för</u>
          Vegetarianer
        </p>
      </div>

      <div class="card-panel">
        <b><img class="custom-icon" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/festival/map/bowl.svg" /> Kyrkan</b>
        <p>
          Gratis nyponsoppa
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <h3 id="bars" class="bold-card-title"><i class="icon-arrow-up2 left"></i> BARER <a href="#top"><i class="icon-arrow-up2 right"></i></a></h3>
      <div class="card-panel numbered-list green-items">
        <div class="row">
          <div class="col s2 item-number">
            <span>1</span>
          </div>
          <div class="col s8">
            <b>Björn</b>
            Villevalla
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>2</span>
          </div>
          <div class="col s8">
            <b>Benny</b>
            [hg] och KK
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>3</span>
          </div>
          <div class="col s8">
            <b>Annefrid</b>
            Flamman
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>4</span>
          </div>
          <div class="col s8">
            <b>Agnetha</b>
            Drinkbaren
          </div>
        </div>
      </div>

      <h3 id="scenes" class="bold-card-title"><i class="icon-arrow-up2 left"></i> SCENER <a href="#top"><i class="icon-arrow-up2 right"></i></a></h3>
      <div class="card-panel numbered-list red-items">
        <div class="row">
          <div class="col s2 item-number">
            <span>1</span>
          </div>
          <div class="col s8">
            <b>Hallen</b>
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>2</span>
          </div>
          <div class="col s8">
            <b>Ängen</b>
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>3</span>
          </div>
          <div class="col s8">
            <b>Stora Scen</b>
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>4</span>
          </div>
          <div class="col s8">
            <b>Flotten</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>