<% content_for :header_title do %>
    Områdeskarta
<% end %>

<div class="area-map">
  <div class="info-panel hide-on-large-only margin-top-13">
    Mer information finns nedanför kartan!
  </div>
  <div class="row margin-top-13">
    <div class="col s12 l6">
      <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/festival/map/areamap.svg"/>
    </div>
    <div class="col s12 m6 l3">
      <h3 class="bold-card-title">MATTÄLT</h3>
      <div class="card-panel">
        <b>Öltältet</b>
        <p>
          I samband med Agnethabaren kommer du här kunna njuta av goda Oumph!-burgare, hamburgare och nachos.
        </p>
        <p class="hide">
          <u>Detta mattält har alternativ för:</u>
          Vegetarianer, veganer, glutenintoleranta och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b>Fritösen</b>
        <p>
          Hit ska du gå om du är sugen på friterad mat. Falafel, pommes frites och fish & chips hittar du här.
        </p>
        <p class="hide">
          <u>Detta mattält har alternativ för:</u>
          Vegetarianer, veganer, glutenintoleranta och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b>Vilden</b>
        <p>
          I detta tält kommer det finnas kebab med vilt vildsvinskött. Kom förbi här och testa på hur det smakar.
        </p>
      </div>

      <div class="card-panel">
        <b>Grillen</b>
        <p>
          I grilltältet kommer grillarna ryka. Här serveras det nygrillade hamburgare, korv och grillspett.
        </p>
        <p class="hide">
          <u>Detta mattält har alternativ för:</u>
          Glutenintoleranta och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b>Mom's Spaghetti</b>
        <p>
          I pastatältet kommer nylagad pasta finnas för dig som är riktigt hungrig. Krämiga pastarätter kommer mätta dig under festivalen.
        </p>
        <p class="hide">
          <u>Detta mattält har alternativ för:</u>
          Vegetarianer och laktosintoleranta
        </p>
      </div>

      <div class="card-panel">
        <b>Pizzerian</b>
        <p>
          Här kommer du att hitta nybakad pizza ur riktiga pizzaugnar, serverade i pizzakartonger.
        </p>
        <p class="hide">
          <u>Detta mattält har alternativ för:</u>
          Vegetarianer
        </p>
      </div>

      <div class="card-panel">
        <b>Kyrkan</b>
        <p>
          Gratis nyponsoppa
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <h3 class="bold-card-title">BARER</h3>
      <div class="card-panel numbered-list green-items">
        <div class="row">
          <div class="col s2 item-number">
            <span>1</span>
          </div>
          <div class="col s8">
            <b>Björn</b>
            Villevalla
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>2</span>
          </div>
          <div class="col s8">
            <b>Benny</b>
            [hg] och KK
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>3</span>
          </div>
          <div class="col s8">
            <b>Annefrid</b>
            Flamman
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>4</span>
          </div>
          <div class="col s8">
            <b>Agnetha</b>
            Drinkbaren
          </div>
        </div>
      </div>

      <h3 class="bold-card-title">SCENER</h3>
      <div class="card-panel numbered-list red-items">
        <div class="row">
          <div class="col s2 item-number">
            <span>1</span>
          </div>
          <div class="col s8">
            <b>Hallen</b>
          </div>
        </div>

        <div class="row">
          <div class="col s2 item-number">
            <span>2</span>
          </div>
          <div class="col s8">
            <b>Ängen</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>