<% content_for :header_title do %>Spelschema<% end %>

<div class="container schedule-container">
  <div class="row margin-top-20 no-bottom-margin">
    <div class="tab-container">
      <ul id="schedule-tab-bar" class="tabs z-depth-1">
        <li class="tab col s12"><a class="active" href="#schedule-thursday">Torsdag</a></li>
        <li class="tab col s12"><a href="#schedule-friday">Fredag</a></li>
        <li class="tab col s12"><a href="#schedule-saturday">Lördag</a></li>
        <li class="tab col s12"><a href="#schedule-city-saturday">Stan Lördag</a></li>
        <li class="tab col s12"><a href="#schedule-family-sunday">Familjesöndag</a></li>
      </ul>
      <div id="schedule-thursday" class="col s12">
        <img class="schedule-img" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/schedule/thursday.svg">
      </div>
      <div id="schedule-friday" class="col s12">
        <img class="schedule-img" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/schedule/friday.svg">
      </div>
      <div id="schedule-saturday" class="col s12">
        <img class="schedule-img" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/schedule/saturday.svg">
      </div>
      <div id="schedule-city-saturday" class="col s12">
        <img class="schedule-img" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/schedule/city_saturday.svg">
      </div>
      <div id="schedule-family-sunday" class="col s12">
        <img class="schedule-img" src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/schedule/family_sunday.svg">
      </div>
    </div>
  </div>
</div>