<h1>Editing Cortege Contribution</h1>

<%= render 'form', cortege_contribution: @cortege_contribution %>

<%= link_to 'Show', @cortege_contribution %> |
<%= link_to 'Back', cortege_contributions_path %>
