<% content_for :header_title do %>Kårtegetåget<% end %>

<div class="container">
  <div class="cortege-lineup-container">
    <% @cortege_lineups.each do |c| %>
      <div class="card-container">
        <div class="card">
          <div class="card-content">
            <img src="<%= c['image'] %>" class="card-image">
          </div>
          <div class="card-content bottom-block">
            <span class="card-title activator flow-text">
              <div class="card-bottom-order">
                <%= c['order'] %>
              </div>
              <%= c['name'] %>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title">
              <i class="material-icons right">close</i>
            </span>
            <p class="flow-text"><%= c['description'] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>