<% content_for :header_title do %>Kårtegetåget<% end %>

<div class="container">
  <div class="cortege-lineup-container">
    <% @cortege_lineups.each_with_index do |c| %>
      <div class="card-container">
        <div class="card-hook">
          <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lineup/krok.svg">
          <div class="hook-number">
            <p><%= c['order'] %></p>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <img src="<%= c['image'] %>" class="card-image">
          </div>
          <div class="card-content bottom-block">
            <span class="card-title activator center-block center l-green">
              <%= c['name'] %>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <%= c['description'] %>
              <i class="material-icons right">close</i>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>