<% content_for :header_title do %>Orkester<% end %>

<div class="container">

  <h3> Information för orkestrar </h3>

  <p>Välkommen till Stuentorkesterfestivalen tjugohundrasjutton!

    Anmälningsperioden pågår mellan den 6:e februari och den 5:e mars. Om du anmäler dig efter detta tillkommer en förseningsavgift på 100 kr.

    För att anmäla dig behöver du en orkesterkod från din orkester eller baletts ordförande.
    Den klistrar du in i anmälningsformuläret. Du fyller sedan i lite information om ditt besök, vilken typ av biljetter du önskar samt om du vill köpa några prylar. Inför festivalen kommer din orkester faktureras för dina inköp.
    Hur du hämtar ut dina grejer gör du upp med er ansvarig!</p>
</div>
