<% content_for :header_title do %>Orkestrar<% end %>

<div class="container">
  <div class="row section">
    <div class="col s12 m6">
      <%= link_to('Logga in', login_path, {:class => 'list-item waves-effect waves-teal'}) %>
      <a><%= link_to('Skapa ny orkester', link_to, {:class => 'list-item waves-effect waves-teal'}) %></a>
      <a class="waves-effect waves-light btn-large">Skapa ny orkester</a>
      <a class="waves-effect waves-light btn-large">Registrera till orkester</a>
    </div>
  </div>
</div>
