<% content_for :header_title do %>Orkester<% end %>

<div class="container">
  <div class="row">
    <form method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


      <h2 class="header">Registrera</h2>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="input-field col s6">
              <input id="orchestra_code" type="text" class="validate">
              <label for="orchestra_code">Orkesterkod</label>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <input id="valid_orchestra_code" type="checkbox" class="filled-in">
            <label>asd</label>
          </div>
        </div>


        <div class="row">
          <div class="col s12 m6 l6">
            <label>Festivalbiljett    (OBS! Lintekmedlemmars pris är rabatterat)</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <select name="festival_ticket" id="festival_ticket">
              <%=  options_for_select(@ticketOpt)  %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6 l6">
            <label>Matbiljett</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <select name="food_ticket" id="food_ticket">
              <option value="0">Ingen biljett (0kr)</option>
              <option value="1">Torsdag (11/5) - Söndag (14/5) (215kr)</option>
              <option value="2">Fredag (12/5) - Söndag (14/5) (140kr)</option>
              <option value="3">Lördag (13/5) - Söndag (15/5) (75kr)</option>
            </select>
          </div>

          <div class="col s12 m3 l3">
              <input type="checkbox" class="filled-in" id="specialfood-box" name="specialfood-box" onclick="toggleSpecialkost(this)"/>
              <label for="specialfood-box">Specialkost?</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m9 l9">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="field-specialfood" type="text" class="materialize-textarea" name="specialfood"disabled></textarea>
                <label for="textarea1">Specifiera vilken specialkost</label>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <label>Sova över?</label>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <select id="sleep_over" name="sleep_over">
              <option value="0">Nej</option>
              <option value="1">Ja, sova över i matsalen (50kr)</option>
            </select>
          </div>
        </div>

      <div class="row"> <!-- Orkestern hämtas ifrån vilken orkester man är med i?" -->
        <label>Beställ tröjor med din orkester på</label>
      </div>
      <div class="row">

        <div class="col s12 m4 l3">

          <label>Vilket kön passar bäst på dig?</label>
          <div class="switch">
            <label>
              Man
              <input type="checkbox" data-role="flipswitch" id="switch-gender" onclick="togglePossibleTshirt()">
              <span class="lever"></span>
              Kvinna
            </label>
          </div>
<!--
          <label for="switch">Flip Toggle Switch:</label>
          <input type="checkbox" data-role="flipswitch" name="switch" id="switch">
          <br>
          <input type="submit" data-inline="true" value="Submit">
    -->
        </div>

        <div class="col s12 m2 l3">
          <select id="select-selected-tshirt">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
          </select>
        </div>


        <div class="col s12 m6 l6">
          <a class="waves-effect waves-light btn" onclick="addTshirt(this)">läggtill</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <label>T-shirts  (100kr) </label>
          <ul class="collection" id="collection-of-tshirts"> </ul>
        </div>


      </div>

      <div class="row">
        <div class="col s4 m6 l6">
          <label>Medaljer  (40kr)</label>
          <select id="select-medals" name="medals">
            <option value="0">Ingen medalj</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="col s4 m6 l6">
          <label>Märken  (20kr)</label>
          <select id="select-tag" name="tag">
            <option value="0">Inget märke</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label> Är du aktiv eller gamling?</label>
        </div>

        <div class="input-field col s12">
          <p>
            <input id="active" type="radio" name="active" value="active">
            <label for="active">Aktiv</label>
          </p>
          <p>
            <input id="inactive" type="radio" name="active" value="inactive">
            <label for="inactive">Gamling</label>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label> Är detta ditt tioende raka SOF/STORK?</label>
        </div>

        <div class="input-field col s12">
          <p>
            <input id="spree_yes" type="radio" name="spree" value="yes">
            <label for="spree_yes">Ja</label>
          </p>
          <p>
            <input id="spree_no" type="radio" name="spree" value="no">
            <label for="spree_no">Nej</label>
          </p>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <label> Har du varit på 25 eller fler SOF/STORK?</label>
        </div>

        <div class="input-field col s12">
          <p>
            <input id="25years_yes" type="radio" name="25years" value="yes">
            <label for="25years_yes">Ja</label>
          </p>
          <p>
            <input id="25years_no" type="radio" name="25years" value="no">
            <label for="25years_no">Nej</label>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label> Balett eller orkester?</label>
        </div>

        <div class="input-field col s12">
          <p>
            <!-- the orchs are comming!! -->
            <input id="performingAs_orch" type="radio" name="performingAs" value="orchestra">
            <label for="performingAs_orch">Orkester</label>
          </p>
          <p>
            <input id="performingAs_bal" type="radio" name="performingAs" value="ballet">
            <label for="performingAs_bal">balett</label>
          </p>
        </div>
      </div>

      <div class="row">
        <label for="size-of-instrument" >Hur stor är ditt instrument?</label>
      </div>
      <div class="row">
        <div class="col s6 m8 l8">
          <select id="select-size-of-instrument" name="size-of-instrument">

            <option value="0">Tar inte med eget instrument</option>
            <option value="1">Mycket litet (Klarinett, flöjt eller liknande)</option>
            <option value="2">Litet (Trumpet, altsaxofon eller liknande)</option>
            <option value="3">Medel (Tenorsaxofon, trombon eller liknande)</option>
            <option value="4">Stort (Barytonsaxofon, tuba, stor väska eller liknande)</option>
          </select>
        </div>
      </div>


      <div class="row">
        <button class="waves-effect waves-light btn" type="submit">Registrera orkester</button>
      </div>

    </form>
  </div>
</div>
