<h1>Editing Cortege Lineups Management</h1>

<%= render 'form', cortege_lineups_management: @cortege_lineups_management %>

<%= link_to 'Show', @cortege_lineups_management %> |
<%= link_to 'Back', cortege_lineups_managements_path %>
