<% content_for :header_title do %>Lineup<% end %>


<div class="artist-lineup-container">
  <% @artist_lineups.each_with_index do |a| %>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <img src="<%= a['image'] %>" class="card-image">
        </div>
      </div>
    </div>
  <% end %>
</div>