<% content_for :header_title do %>Lineup<% end %>

<div class="container">
  <div class="cortege-lineup-container">
    <% @artist_lineups.each_with_index do |a| %>
        <div class="card-container">
          <div class="card">
            <div class="card-content">
              <img src="<%= a['image'] %>" class="card-image">
            </div>
            <div class="card-content bottom-block">
            <span class="card-title activator ">
              <%= a['name'] %>
            </span>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <%= a['description'] %>
              <i class="material-icons right">close</i>
            </span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>