<div class="container" xmlns:background-repeat="http://www.w3.org/1999/xhtml">

  <div>
    <h2>Kontaktinfomation</h2>
    <h4>Styrelsen</h4>
    <% @contacts.each do |c| %>

        <h3><%= c.title %></h3>
        <p><%= c.name %></p>
        <p><%= c.email %></p>

    <% end %>
  </div>

</div>
