<div class="container" xmlns:background-repeat="http://www.w3.org/1999/xhtml">

  <div>
    <h2>Kontaktinfomation</h2>
    <h4>Styrelsen</h4>
    <ul>
      <a href=""> Email </a>
      <p> Telefon: 070123456</p>
    </ul>
  </div>

</div>
