<div class="container" xmlns:background-repeat="http://www.w3.org/1999/xhtml">

  <div>
    <h2>Kontaktinfomation</h2>
    <h3>Styrelsen</h3>
    <% @contacts.each do |c| %>
        <h4><%= c.title %></h4>
        <p><%= c.name %></p>
        <a href="mailto:<%= c.email %>"><%= c.email %></a>

    <% end %>
  </div>

</div>
