<% content_for :header_title do %>
    <% @page['header'] %>
<% end %>

<div class="container">

  <div>
    <% page_elements do |elem| %>
        <%= render partial: elem.name, locals: { elem: elem } %>
    <%end %>
  </div>

</div>
