<div class="container" xmlns:background-repeat="http://www.w3.org/1999/xhtml">
<style>
  body {
    background-color: rgb(255,255,255);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
  <h1>SOF</h1>
  <div>
    <h2>Kontaktinfomation</h2>
    <h3>Styrelsen</h3>
    <li>
      <a href=""> Email </a>
      <p> Telefon: 070123456</p>
    </li>
  </div>

</div>
