<% content_for :header_title do %>
    Board
<% end %>

<div class="container" xmlns:background-repeat="http://www.w3.org/1999/xhtml">

  <div>
    <div class="row">
      <%= render @contacts %>
    </div>
  </div>

</div>
