<% content_for :header_title do %>
    Studentorkesterfestivalen
<% end %>

<div class="hero center">
  <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/hero/rokester.jpg">
</div>

<div class="container">
  <div class="row center">
    <p class="hero-description">
      Pellentesque placerat molestie leo et facilisis. Praesent cursus sem ac nunc condimentum volutpat eget nec leo. Vestibulum consequat laoreet metus, sit amet aliquet mauris interdum sed. Ut blandit tortor at erat pretium egestas.
    </p>
    <hr class="hero-divider">
  </div>
</div>