<% content_for :header_title do %>
    Studentorkesterfestivalen
<% end %>

<div id="top-bubble" class="hide-on-small-only">
  <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/decorations/bubbla.svg">
  <p id="top-bubble-text">Anmälan stängd</p>
  <!--<a href="<%= funkis_application_url %>" id="top-bubble-link"></a> -->
</div>

<div class="hero-container">
  <div class="hero hero-frontpage center">
  </div>
</div>

<div class="container">
  <div class="hero-description-container">
    <div class="row center">
      <p>
        StudentOrkesterFestivalen (SOF) är en tredagarsfestival som kommer att hållas här på Campus Valla i Linköping. Det kommer att bli tre fullspäckade festivaldagar fyllda med 100 % skoj i form av orkesterspelningar, servering av god mat och dryck, och andra roliga jippon! Vi ses på SOF den 11:e - 13:e Maj!
      </p>
      <hr>
    </div>
  </div>

  <div class="row center">
    <div class="col s12 m6 l4">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Kårtegen</h3>
        <span>Utöver festivaldagarna rullar Kårtegen fram genom Linköpings gator under lördagen, med egenbyggda ekipage från våra fantastiska studentföreningar. Årets tema är <span class="bold">Sverige genom tiderna!</span></span>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Festivalen</h3>
        <span>StudentOrkesterFestivalen 2017 är en tredagarsfestival som arrangeras av LinTek, och iår kommer den mest oväntade, skojiga och maffiga festhelgen att vara under 11-13 maj på Campus Valla. Varje år är uppemot 40 svenska och utländska studentorkestrar med och spelar under festivalen.</span>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="text-with-icon-column">
        <h3 class="title-with-background">Historia</h3>
        <span>SOF grundades redan 1973 och är nu en av norra Europas största studentfestivaler. Festivalen hålls jämna år i Uppsala och udda år i Linköping.</span>
      </div>
    </div>
  </div>
</div>