<% content_for :header_title do %>Profil<% end %>

<div class="container">
  <% if current_user.nil? %>
    <p>Inte inloggad</p>
  <% else %>
    <p>Inloggad som <%= current_user['display_name'] %></p>
  <% end %>
</div>