<div class="container">
  <div class="row section">
    <div class="col s12 m6">
      <div class="card grey lighten-4">
        <div class="card-content valign-wrapper">
          <span class="card-title valign">Student på LiU?</span>
          <a class="btn waves-effect waves-light blue valign right" style="margin-left: auto;" href="<%= url_for action: 'login_liu_id' %>">
            Logga in med LiU-ID
          </a>
        </div>
      </div>
      <div class="card grey lighten-4">
        <form method="post" id="login_form">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <div class="card-content">
              <span class="card-title">Inloggning</span>
              <div class="input-field">
                <input type="email" name="email" id="email">
                <label for="email">E-mail</label>
              </div>
              <div class="input-field">
                <input type="password" name="password" id="password">
                <label for="password">Lösenord</label>
              </div>
            </div>
            <div class="card-action">
              <a class="blue-text" href="javascript:;" onclick="document.getElementById('login_form').submit();">Logga in</a>
              <a class="grey-text" href="<%= reset_request_url %>">Glömt ditt lösenord?</a>
            </div>

            <input type="submit"
                   style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                   tabindex="-1" />
        </form>
      </div>

    </div>

    <div class="col s12 m6">
      <h4>Saknar du inloggning?</h4>
      <p>
        Studerar du inte vid Linköpings universitet behöver du skapa ett konto innan du kan logga in.
      </p>
      <a class="btn waves-effect waves-light" href="<%= register_url %>">Registrera dig</a>
    </div>


  </div>
</div>
