<% content_for :header_title do %>Logga in<% end %>


<div class="card-container">
    <div class="card login-register-card z-depth-1">

      <div class="cards-tabs">
        <ul class="tabs tabs-fixed-width">
           <li class="tab">
             <a href="#login-card" class="active">Logga in</a>
           </li>
           <li class="tab">
             <a href="#register-card">Registrera</a>
           </li>
         </ul>
      </div>

      <div class="card-content no-padding">
        <div id="login-card">
          <form method="post" id="login-form">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

              <span class="card-title">Inloggning</span>
              <div class="input-field">
                <input type="email" name="email" id="email">
                <label for="email">E-mail</label>
              </div>
              <div class="input-field">
                <input type="password" name="password" id="password">
                <label for="password">Lösenord</label>
              </div>

              <div class="card-action login-forgotpassword">
                <a class="blue-text" href="javascript:;" onclick="document.getElementById('login_form').submit();">Logga in</a>
                <a class="grey-text" href="<%= reset_request_url %>">Glömt ditt lösenord?</a>
              </div>

              <input type="submit"
                     style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                     tabindex="-1" />

          </form>
          <div class="card-action liu-student">
            <span class="card-title valign">Student på LiU?</span>
            <a class="btn waves-effect waves-light z-depth-2" href="<%= url_for action: 'login_liu_id' %>">
              Logga in med LiU-ID
            </a>
          </div>
        </div>

        <div id="register-card">
          <h4>Saknar du inloggning?</h4>
          <p>
            Studerar du inte vid Linköpings universitet behöver du skapa ett konto innan du kan logga in.
          </p>
          <a class="btn waves-effect waves-light" href="<%= register_url %>">Registrera dig</a>
        </div>
      </div>
    </div>
</div>







