<% content_for :header_title do %>
    Färdigställ din profil
<% end %>

<div class="container">
  <div class="row">
    <div class="col m8 offset-m2 s12 m-margin-top-40">
      <p>
        <b>Ojdå!</b>
      </p>
      <p>
        Vi kunde inte hämta ditt riktiga namn från Kårservice. Vad heter du?
      </p>
      <p>
        Notera att du måste fylla i detta innan du kan fortsätta utforska sidan.
      </p>
      <form method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="input-field">
          <input type="text" name="new_name" id="new_name">
          <label for="new_name">För- och efternamn</label>
        </div>

        <button type="submit" class="btn waves-effect waves-light">Uppdatera namn</button>
        <a href="<%= logout_url %>" class="btn red waves-effect waves-light">Logga ut</a>
      </form>
    </div>
  </div>
</div>