<% content_for :header_title do %>Återställ lösenord<% end %>

<div class="container">
  <% if @invalid %>
      <h3>Ogiltig länk</h3>
  <% else %>
    <p>
      Välj ett nytt lösenord för <%= temporary_user['email'] %>.
    </p>
    <form method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="input-field">
        <input type="password" name="password" id="password">
        <label for="password">Nytt lösenord</label>
      </div>

      <div class="input-field">
        <input type="password" name="password_confirmation" id="password_confirmation">
        <label for="password_confirmation">Bekräfta lösenord</label>
      </div>

      <button type="submit" class="btn waves-effect waves-light">Återställ</button>
    </form>
  <% end %>
</div>