@import "colors";
@import "fonts";

footer.page-footer.footer-wrapper {
  margin-left: 300px;
  background-color: $primary-color;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}