@import "application";
@import "fonts";

.top-nav {
  height: 122px;
  box-shadow: none;
}

.page-title {
  line-height: 122px;
  font-size: 48px;
  font-family: $header-font;
}

.nav-wrapper {
  text-align: center;
}
