@import "colors";
@import "fonts";

$top-nav-line-height: 80px;
$top-nav-height: 80px;

#top-nav {
  line-height: $top-nav-line-height;
  height: $top-nav-height;
}

.nav-header {
  background: $secondary-color;
}

.page-title {
  //font-size: 48px;
  font-family: $header-font;
  font-weight: bold;
  text-transform: uppercase;
}

.page-title h4 {
  line-height: $top-nav-line-height;
  height: $top-nav-height;
  color: $accent-color;
  margin: 0 auto;
  font-size: 4vw;
}

#nav-hamburger i {
  line-height: $top-nav-line-height;
  height: $top-nav-height;
  font-size: 2.5em;
}

/* Page-title fits with width of screen except when its wide enough to have a static size */
@media only screen and (min-width: 800px) {
  .page-title h4 {
    font-size: 2.28rem;
  }
}


