/*
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "colors";



$sidenav-width: 275px;

header, main, footer {
  margin-left: $sidenav-width;
}

main {
  background-color: $accent-color;

}

select {
  display: block;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    margin-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
  main {
    min-height: 700px;
  }
}


