/*
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "colors";



$sidenav-width: 275px;

header, main, footer {
  margin-left: $sidenav-width;
}

main {
  background-color: $accent-color;

}

#debug-header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  text-align: center;
  color: #eee;
  margin: 0;
  z-index: 1000;
  padding: 0 4px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    margin-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
  main {
    min-height: 700px;
  }
}


