/*
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "colors";



$sidenav-width: 300px;

header, main {
  margin-left: $sidenav-width;
}

body {
  background: $secondary-color;
}

@media only screen and (max-width : 992px) {
  header, main {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}


