@import "fonts";
@import "colors";

.artist-lineup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .card-container {

    .card {
      min-height: 240px;
      width: 400px;

      .card-title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      @media all and (max-width: 1180px) {
        width: 100%;
        max-width: 300px;
        .card-title {
          font-size: 17px;
        }
      }

      .card-content {
        padding: 0;
        height: 200px;
        width: inherit;


        .card-image {
          height: inherit;
          width: inherit;
          object-fit: contain;
        }
      }

      .card-content.bottom-block {
        background-color: $sof-purple-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;

        .card-bottom-order {
          display: inline;
          font-size: inherit;
          font-weight: bold;
          position: absolute;
          text-align: left;
          padding-left: 12px;
          left: 0;

        }
        .card-title {
          line-height: 40px;
        }
        span {
          padding-right: 12px;
          text-align: right;
          font-family: Arial;
          color: $sof-seashell-color;
        }
      }

      .card-reveal {

        span {
          font-family: DIN;
          font-weight: normal;
          font-size: 16px;
        }
        p {
          font-family: DIN;
          font-weight: normal;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }

  @media all and (max-width: 800px){
    .card-container{
      width: 100%;
    }
  }
  @media all and (min-width: 800px) {
    .card-container{
      width: 50%;
    }
  }
}