
$primary-color: #e74c4c;
$secondary-color: #9b59b6;
$accent-color: #F5D76E;

$sof-red-color: #d51130;
$sof-purple-color: #772761;
$sof-yellow-color: #ffef2c;
$sof-green-color: #009640;
$sof-pink-color: #e60073;