// Official Colors - use these
$sof-red-color: #d51130;
$sof-purple-color: #fff;
$sof-yellow-color: #ffef2c;
$sof-green-color: #009640;
$sof-pink-color: #e60073;
$sof-seashell-color: #f9edf1;

// Use these to color things.
$primary-color: $sof-red-color;
$secondary-color: $sof-purple-color;
$accent-color: $sof-seashell-color;

