@import "fonts";
@import "colors";

.contact-container {
  .contact {
    margin: 20px;
  }

  .row.card-row {
    width: 90%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .contact-card {
    margin: 20px;
    width: 250px;

    margin: 20px 30px;

    img {
      height: 250px;
      width: 250px;
    }
    .card-content {
      padding: 10px;
    }
    .card-content.no-border {
      background-color: $secondary-color;
      color: $accent-color;
      border-radius: 0;
      .name {
        font-family: Arial;
        font-weight: bold;
        font-size: 15px;
      }
      .name {
        font-family: DIN;
        font-weight: 300;
        font-size: 15px;
      }
    }
    .card-content.no-background {
      background-color: white;
      color: $secondary-color;
      .email {
        font-family: Arial;
        font-weight: normal;
        font-size: 15px;
      }
    }
  }

  .title-row {
    height: 46px;
  }

  .title-row h3 {
    margin: auto;
  }

  span {
    font-family: DIN;
    font-style: normal;
    font-size: 16px;
  }

  .title-with-background {
    font-size: 20px;
  }

}