@import "fonts";
@import "colors";

.hero-cortege {
  background-image: url("https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/hero/korteget%C3%A5g_2.jpg");
}

.cortege-container {
  p {
    margin: auto;
    font-family: DIN;
    font-weight: normal;
    font-size: 16px;
  }
}

.cortege-map-container {
  .img-holder {
    display: flex;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    max-width: 595px;
    margin: 0 auto auto auto;
  }
}