@import "fonts";
@import "colors";

.cortege-lineup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .card-container {

    @media all and (min-width: 800px) {
      .card-hook {
        position: relative;
        width: 115px;
        left: 40px;
        top: 60px;
        height: 0px;

        .hook-number {
          position: absolute;
          top: 8px;
          right: 67px;
          text-align: center;
          color: $sof-red-color;
          font-size: 24px;
          font-weight: bold;
          top: -17px;
          width: 46px;
        }
      }
    }

    @media all and (max-width: 800px){
      .card-hook{
        display: none;

        .hook-number {
          display: none;
        }
      }
    }

    .card {
      height: 240px;
      width: 300px;

      @media all and (max-width: 800px) {
        width: 100%;
      }

      .card-title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .card-content {
        padding: 0;
        height: 200px;
        width: inherit;

        .card-image {
          height: inherit;
          width: inherit;
          object-fit: contain;

        }

        .cortege-info-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          height: 35px;
        }
      }

      .card-content.bottom-block {
        align-content: flex-end;
        background-color: $sof-purple-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;

        .card-bottom-order {
          display: none;
          @media all and (max-width: 800px) {
            display: inline;
            font-size: inherit;
            font-weight: bold;
            position: absolute;
            left: 15px;
          }
        }
        .card-title {
          line-height: 40px;
        }
        span {
          text-align: center;
          font-family: Arial;
          color: $sof-seashell-color;
        }
      }

      .card-reveal {
        span {
          font-family: DIN;
          font-weight: normal;
          font-size: 16px;
        }
        p {
          font-family: DIN;
          font-weight: normal;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }

  @media all and (max-width: 800px){
    .card-container{
      width: 100%;
    }
  }
  @media all and (min-width: 800px) {
    .card-container{
      width: 50%;
    }
  }
}
