@import "fonts";
@import "colors";

.cortege-lineup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .card-container {

    @media all and (min-width: 800px) {
      .card-hook {
        position: relative;
        width: 115px;
        left: 40px;
        top: 60px;
        height: 0px;

        .hook-number {
          position: absolute;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          color: $sof-red-color;
          right: 67px;
          top: -17px;
          width: 46px;
        }
      }
    }
    // removes the hook if the screen is too small
    @media all and (max-width: 800px){
      .card-hook{
        display: none;

        .hook-number {
          display: none;
        }
      }
    }

    .card {
      height: 240px;
      width: 375px;

      .card-title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      @media all and (max-width: 1180px) {
        width: 100%;
        max-width: 300px;
        .card-title {
          font-size: 18px;
        }
      }

      .card-content {
        padding: 0;
        height: 200px;
        width: inherit;

        .card-image {
          height: inherit;
          width: inherit;
          object-fit: contain;
        }
      }

      .card-content.bottom-block {
        align-content: flex-end;
        background-color: $sof-purple-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;

        .card-bottom-order {
          display: inline;
          font-size: inherit;
          font-weight: bold;
          position: absolute;
          width: 35px;
          left: 0px;
        }
        .card-title {
          line-height: 40px;
        }
        span {
          padding-left: 40px;
          text-align: center;
          font-family: Arial;
          color: $sof-seashell-color;
        }
      }

      .card-reveal {

        //overflow: hidden;

        span {
          font-family: DIN;
          font-weight: normal;
          font-size: 16px;
        }
        p {
          font-family: DIN;
          font-weight: normal;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }

  @media all and (max-width: 800px){
    .card-container{
      width: 100%;
    }
  }
  @media all and (min-width: 800px) {
    .card-container{
      width: 50%;
    }
  }
}
