@import "fonts";
@import "colors";

.cortege-lineup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .card-container {
    width: 20%;

    .card {
      height: 230px;
      width: 200px;
      margin: auto;

      .card-title {
        font-size: 16px;
      }
      .card-content {
        padding: 0;
        .cortege-info-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          height: 35px;

          .card-image {
            display: flex;
            flex-flow: row nowrap;
            min-width: 100%;
            width: 100%;
          }
        }
      }

      .card-content.bottom-block {
        align-content: flex-end;
        background-color: $sof-purple-color;
        .card-title {
          line-height: 30px;
        }
        span {
          font-family: Arial;
          color: $sof-seashell-color;
        }
      }

      .card-reveal {
        span {
          font-family: DIN;
          font-weight: normal;
        }
        p {
          font-family: DIN;
          font-weight: normal;
          margin-bottom: 10px;
        }
      }

      table {
        thead {
          th {
            font-size: 14px;
          }
        }
      }
    }
  }
}
