@import "fonts";
@import "colors";

.faq-container {
  .language-select {
    margin: 20px auto auto;
    width: 120px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    img {
      width: 50px;
      height: auto;
      margin: auto;
    }
  }

  .faq-group-row {
    margin-bottom: 0;
  }

  .faqs {
    .faq-group {
      font-family: Arial;

    }
    .faq {
      .row {
        margin-bottom: 0;
      }
      font-family: DIN, serif;
      font-weight: normal;
      font-style: normal;
      .question {
        font-weight: bold;
      }
      .answer {

      }

    }
  }
}