@import 'colors';
@import 'fonts';

.hero-festival-beer {
  background-image: url("https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/hero/ol_bild.jpg");
}

.schedule-container {
  .tab-container {
    margin: auto;
    width: 80%;
    max-width: 700px;
    .swipe-container {
      width: 100%;
    }
    img.schedule-img {
      width: 100%;
    }
  }
  .row .tab.col.s12 {
    width: auto;
  }


  .tabs .tab {
    a {
      color: $sof-red-color
    }
    a:active {
      color: $sof-red-color
    }
    a:hover {
      color: $sof-red-color;
    }
    a.active {
      color: $sof-red-color;
    }
  }

  .tabs .indicator {
    background-color: $sof-purple-color;
    color: $sof-purple-color;
  }

  .tabs-content.carousel {
    height: 1400px !important;
  }

  .tabs-content.carousel .carousel-item {
    height: 100%;
  }

  @media only screen and (max-width: 1150px) {
    .tabs-content.carousel {
      height: 1200px !important;
    }
  }

  @media only screen and (max-width: 1100px) {
    .tabs-content.carousel {
      height: 1275px !important;
    }
  }

  @media only screen and (max-width: 1000px) {
    .tabs-content.carousel {
      height: 1350px !important;
    }
  }

  @media only screen and (max-width: 800px) {
    .tabs-content.carousel {
      height: 1100px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .tabs-content.carousel {
      height: 1075px !important;
    }
    .tab-container {
      width: 100%;
    }
  }

  @media only screen and (max-width: 400px) {
    .tabs-content.carousel {
      height: 750px !important;
    }
  }



}




.beer-container {
  img {
    width: 100%;
  }

  .text-with-icon-column span {
    width: 100%;
  }

  @media only screen and (max-width: 601px) {
    .margin-top-40 {
      margin-top: 0;
    }
  }
}

.area-map {
  .info-panel {
    padding: 10px;
    text-align: center;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      background-color: $sof-red-color;
    }
  }

  .bold-card-title {
    color: $sof-purple-color;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;

    i {
      color: $sof-red-color;

      @media only screen and (min-width: 993px) {
        display: none;
      }
    }

    > i:first-child {
      opacity: 0;
    }
  }

  .card-panel {
    text-align: center;
    padding-bottom: 3px;
  }

  .special-food {
    color: #666;
  }

  .icon-pizza {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .numbered-list {
    b {
      display: block;
    }
  }

  .item-number {
    position: relative;
  }

  .item-number span {
    display: inline-block;
    border: 2px solid;
    border-radius: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: content-box;

    position: absolute;
    left: 0;
  }

  .green-items .item-number span {
    color: $sof-green-color;
    border-color: $sof-green-color;

    margin-top: 5px;
  }

  .red-items {
    .row {
      margin: 30px 0;
    }

    .row:first-child {
      margin-top: 10px;
    }

    .item-number span {
      color: $sof-red-color;
      border-color: $sof-red-color;
      margin-top: -5px;
    }
  }
}
