// Place all the styles related to the Festival controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.hero-festival-beer {
  background-image: url("https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/hero/ol_bild.jpg");
}

.beer-container {
  img {
    width: 100%;
  }

  .text-with-icon-column span {
    width: 100%;
  }

  @media only screen and (max-width: 601px) {
    .margin-top-40 {
      margin-top: 0;
    }
  }
}

.area-map {
  .info-panel {
    padding: 10px;
    text-align: center;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      background-color: $sof-red-color;
    }
  }

  .bold-card-title {
    color: $sof-purple-color;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;

    i {
      color: $sof-red-color;

      @media only screen and (min-width: 993px) {
        display: none;
      }
    }

    > i:first-child {
      opacity: 0;
    }
  }

  .card-panel {
    text-align: center;
    padding-bottom: 3px;
  }

  .special-food {
    color: #666;
  }

  .icon-pizza {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .numbered-list {
    b {
      display: block;
    }
  }

  .item-number {
    position: relative;
  }

  .item-number span {
    display: inline-block;
    border: 2px solid;
    border-radius: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: content-box;

    position: absolute;
    left: 0;
  }

  .green-items .item-number span {
    color: $sof-green-color;
    border-color: $sof-green-color;

    margin-top: 5px;
  }

  .red-items {
    .row {
      margin: 30px 0;
    }

    .row:first-child {
      margin-top: 10px;
    }

    .item-number span {
      color: $sof-red-color;
      border-color: $sof-red-color;
      margin-top: -5px;
    }
  }
}
