@font-face {
  font-family: 'Facile Sans';
  src:font-url('FacileSans.eot');
  src:font-url('FacileSans.eot?#iefix') format('embedded-opentype'),
  font-url('FacileSans.woff') format('woff'),
  font-url('FacileSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swis721 Ex Bt Bold';
  src:font-url('Swis71_Ex_BT_Bold.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$header-font: 'Facile Sans';
$body-font: 'Facile Sans';
$nav-font: 'Facile Sans';
