@font-face {
  font-family: 'icomoon';
  src:  font-url('icomoon.eot?d8ruru');
  src:  font-url('icomoon.eot?d8ruru#iefix') format('embedded-opentype'),
  font-url('icomoon.ttf?d8ruru') format('truetype'),
  font-url('icomoon.woff?d8ruru') format('woff'),
  font-url('icomoon.svg?d8ruru#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quill4:before {
  content: "\e911";
}
.icon-trumpet:before {
  content: "\e944";
}
.icon-truck:before {
  content: "\eac5";
}
.icon-arrow-down:before {
  content: "\ebbb";
}
.icon-menu:before {
  content: "\eafe";
}
.icon-youtube:before {
  content: "\ec69";
}
.icon-flickr4:before {
  content: "\ec72";
}
.icon-facebook:before {
  content: "\ec5c";
}
.icon-instagram:before {
  content: "\ec5e";
}
.icon-twitter:before {
  content: "\ec62";
}
