// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top-nav{
  height: 122px;
  box-shadow: none;
}

.page-title{
  line-height: 122px;
  font-size: 48px;
}
