@import "colors";
@import "fonts";

main {
  background-color: $accent-color;
}

.hero {
  height: 400px;
  //background-color: blue;
}

.hero img {
  height: 400px;
}

p.hero-description {
  margin: 40px auto 50px auto;
  width: 80%;
  color: $primary-color;
  font-family: DIN;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

hr.hero-divider {
  border: 0;
  height: 1px;
  background-color: $secondary-color;
}
