@import "colors";
@import "fonts";

main {
  background-color: $accent-color;
}

.hero-container {
  height: 350px;
  width: 100%;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  //background-size: contain;
  height: 100%;
  width: 100%;
}

.hero img {
  height: 100%;
  width: 100%;
}

p.hero-description {
  margin: 40px auto 50px auto;
  width: 80%;
  color: $primary-color;
  font-family: DIN;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

hr.hero-divider {
  border: 0;
  height: 1px;
  background-color: $secondary-color;
}

.row.margin-bottom-40 {
  margin-bottom: 40px;
}

.row.no-bottom-margin {
  margin-bottom: 0px;
}

.text-with-icon-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.text-with-icon-column i {
  font-size: 54px;
  color: $secondary-color;
  margin-bottom: 20px;
}

.text-with-icon-column h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  color: $primary-color;
}

.text-with-icon-column span {
  font-family: DIN;
  font-weight: normal;
  font-size: 16px;
  width: 80%;
  margin: auto;
}


/* ---- Text formating classes, use them on spans -----*/

.bold {
  font-weight: bold;
}
.enlarge {
  font-size: 150%;
}