@import "colors";
@import "fonts";

main {
  background-color: $accent-color;
}

.hero-container {
  height: 350px;
  width: 100%;

  .hero {
    background-repeat: no-repeat;
    background-position: center;
    //background-size: contain;
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.hero-container.movie {
  height: 550px;
  width: 100%;

  .hero {
    background-repeat: no-repeat;
    background-position: center;
    //background-size: contain;
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}


.hero-description-container {
  p {
    margin: 40px auto 50px auto;
    width: 80%;
    color: $primary-color;
    font-family: DIN;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  hr {
    border: 0;
    height: 1px;
    background-color: $secondary-color;
  }
}

.margin-top-13 {
  margin-top: 13px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-top-40 {
  margin-top: 40px;
}

.m-margin-top-40 {
  margin-top: 40px;
}

@media only screen and (max-width: 601px) {
  .m-margin-top-40 {
    margin-top: 0;
  }
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.row.margin-bottom-40 {
  margin-bottom: 40px;
}

.row.no-bottom-margin {
  margin-bottom: 0px;
}

.row.no-margin {
  margin: 0;
}

.text-with-icon-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  i {
    font-size: 54px;
    color: $secondary-color;
    margin-bottom: 20px;
  }

  h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
  }

  span {
    font-family: DIN;
    font-weight: normal;
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

.radio-description {
  padding-left: 36px;
}

.row.title-row {
  margin-bottom: 0;
  margin-top: 20px;
}

.row.title-row.first-row {
  margin-top: 0px;
}

.title-with-background {
  margin: 20px auto;
  padding: 10px 30px;
  background-color: $secondary-color;
  color: $accent-color;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
}

.title-attached-to-side {
  float: left;
  padding: 10px 40px;
  background-color: $primary-color;
  color: $accent-color;
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
}

.title-without-background {
  margin: 20px auto;
  padding: 10px 30px;
  color: $sof-red-color;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
}

// Unused atm
.subtitle-attached-to-side {
  float: left;
  padding: 10px 40px;
  background-color: $secondary-color;
  color: $accent-color;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
 }

.top-title {
  margin-top: 0px;
}

@media only screen and (max-width : 992px) {
  .title-attached-to-side {
    width: 100%;
    padding: 10px 20px;
  }
}

p.subtitle-text {
  padding: 10px 30px;
  width: 80%;
}

@media only screen and (max-width : 992px) {
  p.subtitle-text {
    width: 100%;
    padding: 10px 10px;
  }
}

span.bold {
  font-weight: bold;
}
span.enlarge {
  font-size: 150%;
}

form.inline {
  display: inline-block;
}