<% content_for :header_title do %>
    Cortegeöversikt
<% end %>


<div class="hero-container">
  <div class="hero center">
  </div>
</div>

<div class="container">
  <div class="row center">
    <div class="col s12 m3 l3">


    </div>
  </div>
</div>

