<% unless current_user.nil? %>
  <a class="center-align white-text light-font" href="<%= url_for controller: :webstore, action: :cart %>">Antal objekt i varukorgen: <%= current_user['shopping_cart_count'] %></a>
<% end %>