<footer class="page-footer footer-wrapper">
  <div class="container">
    <div class="row">
      <!-- Social media icons/links -->
      <div class="col s12">
        <ul class="center-align">
          <li>
            <%= link_to 'https://www.facebook.com/Studentorkesterfestivalen', :class => 'btn-floating btn-flat waves-effect waves-light', target: :'_blank' do %>
                <i class="material-icons">input</i>
            <% end %>
            <%= link_to 'https://www.instagram.com/studentorkesterfestivalen/', :class => 'btn-floating btn-flat waves-effect waves-light', target: :'_blank' do %>
                <i class="material-icons">input</i>
            <% end %>
            <%= link_to 'https://www.flickr.com/people/studentorkesterfestivalen/', :class => 'btn-floating btn-flat waves-effect waves-light', target: :'_blank' do %>
                <i class="material-icons">input</i>
            <% end %>
            <%= link_to 'https://www.youtube.com/channel/UCafg7RA5YYPmFP5nh3gNBGg', :class => 'btn-floating btn-flat waves-effect waves-light', target: :'_blank' do %>
                <i class="material-icons">input</i>
            <% end %>
        </ul>
        <hr>
      </div>
      <!-- Sponsors -->
      <div class="col s12">

      </div>
    </div>
  </div>
</footer>